
<div style="background-image: url('a.png'); background-repeat: no-repeat; height: calc(100vh - 60px); background-size: cover; padding: 20px; font-family: Helvetica;">
  <div>
    <% open('ngrok.log') do |f| %>
      <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
        <strong>IP do servidor da Ditadura: </strong> <%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1] %>
      <% end %>
    <% end %>
  </div>
</div>
